<a href="#<%- anchor %>">
    <% var _pars=[]; %>
    <%if ( locals.params ) {%>
        <% for ( var i=0, _param; _param = params[ i ]; i++ ) {%>
            <%_pars.push( _param.type[0] +'&nbsp;&nbsp;'+ _param.name );%>
        <%}%>
    <%}%>
    <%- name %>
(<%- _pars.join(", ") %>)
</a>
